<div class="container add">
  
<form>

  <label>Mobile ID</label>
  <input type="text" name="mobileid" [(ngModel)]="mobileid"><br>

  <label>Mobile Name</label>
  <input type="text" name="mobilename" [(ngModel)]="mobilename"><br>

  <label>Mobile Price</label>
  <input type="text" name="mobileprice" [(ngModel)]="mobileprice"><br>

  <label>Mobile Brand</label>
  <input type="text" name="mobilebrand" [(ngModel)]="mobilebrand"><br>

 <button class="btn" type="submit" (click)="add()" > Add Mobile </button>


</form>


</div>